.content_titre{
    margin-bottom: 5%;
}

.id_card{
    padding:3%;
    position:relative;
}

.id_card > ul {
    list-style-type: none;
    position:relative;
    left:1px;
}

.avatar_perso{
    height: 75%;
    width: 75%;
    border:2px black solid;
}

.valid_fight{
    position:relative;
}

.bouton_fight{
    position:relative;
    top:30%;
}

.valid_fight, .valid_player{
    margin-top: 5%;
    text-align: center;
}
