@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

@media (min-width: 500px) {
  .col-sm-6 {
    width: 50%;
  }
}
html, body {
  height: 100%;
  min-height: 18em;
}

.frontend-side {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/74452/website-code.png");
}

.uiux-side {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/74452/website-post-its.png");
}


.split-pane {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border:2px red solid;
  height: 50%;
  min-height: 9em;
  font-size: 2em;
  color: black;
  font-family: 'Open Sans', sans-serif;
    font-weight:300;
;

}
@media(min-width: 500px) {
  .split-pane {
    height: 100%;
  }
}

}
.test{
  margin-bottom: 1em;
  text-align: left;
  border:2px red solid;
  position: relative;
  text-align: center;
  top: 30%;
  width:35%;
}


.listing{
    border:2px red solid;
    display:flex;
}

/*
.toto{
  margin-bottom: 1em;
  text-align: left;
  position: relative;
  margin-left: 65%;
  text-align: left;
  top: 30%;
  width:35%;
}
*/

.life-bar {
    display: block;
    height: 2vw;
    background: red;
}

li{
    list-style-type: none;
    font-size: 16px;
    /*display:inline-flex;*/
}

.test > ul > li, .toto > ul > li{
    display:flex;
}

.split-pane button, .split-pane a.button {
  font-family: 'Open Sans', sans-serif;
    font-weight:800;
  background: none;
  border: 1px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 15em;
  padding: 0.7em;
  font-size: 0.5em;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: black;
  display: inline-block;
    cursor: pointer;
}
.split-pane button:hover, .split-pane a.button:hover {
  text-decoration: none;
  background-color: black;
  border-color: black;
    cursor: pointer;
}
.uiux-side.split-pane button:hover, .split-pane a.button:hover {
  color: violet;
}
.frontend-side.split-pane button:hover, .split-pane a.button:hover {
  color: blue;
}

#split-pane-or {
  font-size: 2em;
  color: black;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 925px) {
  #split-pane-or {
    top:15%;
  }
}
#split-pane-or > div img {
  height: 4em;
  position:relative;
  margin-top: 10%;
}
@media (max-width: 500px) {
  #split-pane-or {
    position: absolute;
    top: 50px;
  }
  #split-pane-or > div img {
    height:2em;
  }
}
@media(min-width: 500px) {
  #split-pane-or {
    font-size: 3em;
  }
}

.attaquer{
    border:2px green solid;
    }

.logo_joueur{
    border:2px red solid;
    width:70%;
}

.content_logo_stats{
  border:2px blue solid;
  display:flex;
  justify-content: space-around;
}

.content-fight{
    border:2px red solid;
    font-size: 18px;
    color:red;
    font-weight: bold;
    width: 50%;
    margin:auto;
    background-color: white;
}
